body    {
    background-color: rgba(0, 0, 0, .03);
    /* background-color: rgb(243, 243, 243); */

}

#main   {
    width: 80vw;
    margin-top: 4rem;
    margin-right: 10vw;
    margin-left: 10vw;
    padding: 2rem;
    background-color: rgb(237, 245, 252);
    border: steelblue!;
    border-width: thick!;
    /* background-color: rgb(227, 239, 250 */
}

.btn-link   {
    color: steelblue; 
    text-decoration-line: none;
}

.indent   {
    text-indent: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

ul  {
    padding-top: 0;
    padding-bottom: 0;
}

.collapse   {
    padding-top: 1rem;
}

.card-hdr   {
    font: bold;
    color: rgb(180, 180, 180);
}